<header class="hearder-area">
        <div class="hero-slider">
            <div class="swiper heroSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-cover bg-no-repeat bg-center slider_img" style="background-image: url('./img/hero_section.jpg')"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cover bg-no-repeat bg-center slider_img" style="background-image: url('./img/slider001.jpg')"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cover bg-no-repeat bg-center slider_img" style="background-image: url('./img/slider002.jpg')"></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <nav class="px-3 lg:px-0 nav_area bg-black" id="navbar">
            <div class="py-4">
                <div class="container mx-auto">
                    <div class="md:grid grid-cols-12 gap-10 items-center justify-between">
                        <div class="col-span-3">
                            <div class=" flex justify-between items-center"> <a href="#"> 
                                <img class="h-16" src="./img/NEW-LOGO-white.png" alt="" /> </a> 
                                <button class="text-white text-3xl  " id="flip">
                                    <iconify-icon icon="ic:round-menu"></iconify-icon>
                                </button> </div>
                        </div>
                        <div class="col-span-9" >
                            <div class="md:grid grid-cols-12 justify-between items-center gap-5 main" id="dropdwon">
                                <div class="col-span-10 ">
                                    <ul class="md:flex justify-between items-center ">
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="index.html">Home</a> </li>
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="about.html">About</a> </li>
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="services.html">Services</a> </li>
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="blog.html">Blog</a> </li>
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="protfolio.html">Protfolio</a> </li>
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="career.html">Career</a> </li>
                                        <li> <a class="text-base font-rlw text-white font-semibold hover:text-Nblue" href="contact.html">Contact</a> </li>
                                    </ul>
                                </div>
                                <div class="col-span-2">
                                    <div class="md:flex justify-end"> <a class="font-rlw text-black font-base py-1 px-3 rounded-md font-semibold bg-white" href="signup.html">Sign Up</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="text-slider px-3 lg:px-10 xl:px-0">
            <div class="container mx-auto">
                <div class="">
                    <div class="swiper mySwiper h-[100px] md:h-[200px]">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="">
                                    <h2 class="text-xl xl:text-5xl font-rlw font-bold text-white"> Provide The Innovation <br /> <span class="text-rpigment">Creative</span> Product </h2>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="">
                                    <h2 class="text-xl  xl:text-5xl font-rlw font-bold text-white"> Provide The Innovation <br /> <span class="text-rpigment">Creative</span> Product </h2>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="">
                                    <h2 class="text-xl  xl:text-5xl font-rlw font-bold text-white"> Provide The Innovation <br /> <span class="text-rpigment">Creative</span> Product </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto">
        <div class="slogan_text hidden lg:flex">
            <p class="text-sm font-rlw text-white"> Lorem Ipsum has been the industry's standard dummy text ever <br /> since
                the 1500s, when an unknown printer took a galley of type <br /> and scrambled it to make </p>
        </div>
     </div>
    </header>